h1, .p1, .p3, .p2, .sub, h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

h2 {
  font-size: 10px;
}

h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.sub {
  font-size: 20px;
}

.subi {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

.p1, .p3, .p2 {
  font-weight: 400;
  font-size: 20px;
}

.tit1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: black;
  color: rgb(243, 202, 82);
}

.pres2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: rgb(243, 202, 82);
}

.pres3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: rgb(243, 202, 82);
}

.ub1 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.form {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .div .h2 .p {
    align-content: center;
  }
}
.fdm1 {
  font-size: 12px;
}

.res1 {
  width: 300px;
  height: 300px;
}

.res2 {
  font-size: 12px;
}

@media (max-width: 320px) {
  .p1, .p2, .p3 {
    font-size: 9px;
    align-content: center;
  }
  .p2 {
    font-size: 9px;
    align-content: center;
  }
  .fdm1 {
    font-size: 8px;
  }
  .res2 {
    font-size: 8px;
  }
  .res1 {
    font-size: 8px;
  }
}
header {
  background-color: black;
}

@media (max-width: 320px) {
  header {
    flex-direction: column;
    background-color: rgb(60, 91, 111);
  }
  .nav {
    align-content: center;
  }
  .div .h2 .p {
    align-content: center;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    background-color: rgb(21, 52, 72);
  }
  .nav {
    align-content: center;
  }
}
footer {
  background-color: black;
  text-align: center;
  color: beige;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 3fr 3fr;
  column-gap: 14px;
  row-gap: 10px;
  justify-items: center;
}

.tar {
  background-color: rgb(243, 202, 82);
}

.env {
  background-color: rgb(243, 202, 82);
}

.seg {
  background-color: rgb(243, 202, 82);
}

.fdm {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row-reverse;
}

.res {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

.fim {
  display: grid;
  grid-template-columns: 200px 2fr 3fr;
  grid-template-rows: 150px 150px 150px 150px;
}

.fil1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 7;
  align-items: center;
}

.fil2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 7;
}

.ren {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

.ren {
  display: grid;
  grid-template-columns: 200px 2fr 3fr;
  grid-template-rows: 150px 150px 150px 150px;
}

.res1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 7;
  align-items: center;
}

.res2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 7;
  align-items: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dt {
  background-color: black;
  color: rgb(243, 202, 82);
  text-align: center;
}

.ub {
  display: flex;
  justify-content: center;
}

.map1 {
  display: flex;
  justify-content: center;
}

.ins {
  display: flex;
  justify-content: center;
}

.sec1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.sec2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row-reverse;
}

.sec3 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.kenburns-top {
  -webkit-animation: kenburns-top 7s;
  animation: kenburns-top 7s;
}

/* ----------------------------------------------
* Generated by Animista on 2024-5-21 6:35:26
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
.vibrate-2 {
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-21 6:37:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@media (max-width: 768px) {
  .fdm2 {
    width: 300px;
    height: 300px;
  }
  .res1 {
    width: 300px;
    height: 300px;
  }
  .fil1 {
    width: 300px;
    height: 300px;
  }
  .res3 {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .archivo {
    width: 150px;
    height: 150px;
  }
  .optimizacion {
    width: 150px;
    height: 150px;
  }
  .impresion {
    width: 150px;
    height: 150px;
  }
  .fdm2 {
    width: 150px;
    height: 150px;
  }
  .res1 {
    width: 150px;
    height: 150px;
  }
  .fil1 {
    width: 150px;
    height: 150px;
  }
  .res3 {
    width: 150px;
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
